# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Logs and temp files
*.log
*.out
*.tmp
*.temp

# Config files or sensitive information
*.env
config.json
*.key

# VSCode project files
.vscode/

# macOS
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
